<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!--Custom CSS-->
    <link rel="stylesheet" href="{% static 'css/master.css' %}">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    {% block csslink %}
    {% endblock %}
    <!--Favicon-->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/donor.ico' %}">
    <!--Icons-->
    <script src="https://kit.fontawesome.com/82742595c6.js" crossorigin="anonymous"></script>    
    <title>Blood Donor</title>
</head>
<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg bg-light techfont">
        <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'images/logo.jpg' %}" alt="logo image"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span><img src="{% static 'images/collapse.png' %}" style="width: 40px; height: 30px;"></span>
        </button>
        <div class=" collapse navbar-collapse" id="navbarNav">
          <div class="container">
            <ul class="nav navbar-nav">
                <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'can-i-donate' %}">Can I donate?</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'donation_method' %}">How to Donate?</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>

            </ul>
            
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'detail_view' user.username %}">Detail</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Log Out</a></li>
                <li class="nav-item"><a class="nav-link" id="userId darkred">Welcome: {{user.username}}</a></li>
                {% else %}
                <li><a class="nav-item dropdown" href="#" id="dropDownNav" data-toggle="dropdown"><span style="margin-right: 30px; font-size: x-large;" class="fas fa-user"></span></a>
                    <div class="dropdown-menu" aria-labelledby="dropDownNav">
                        <a class="dropdown-item" href="{% url 'login' %}">Log In</a>
                        <a class="dropdown-item" href="{% url 'register' %}">Sign Up</a>
                    </div>
                </li>
                {% endif %}
            </ul>
          </div>
        </div>
    </nav>
        {% block body_block %}

        {% endblock %}  
        <footer class="">
            <div id="social-media">
                <a href="https://www.twitter.com"><img src="{% static 'images/twitter_logo.png' %}" alt='twitter link'></a>
                <a href="https://www.instagram.com"><img src="{% static 'images/insta_logo.png' %}" alt='instagram link'></a>
                <a href="https://www.youtube.com"><img src="{% static 'images/youtube_logo.png' %}" alt='youtube link'></a>
                <a href="https://www.facebook.com"><img src="{% static 'images/fb_logo.png' %}" alt='facebook link'></a>

            </div>
            <div class="custom-about">
                <a>About</a>
                <a>Contact us</a>
                <a>Privacy</a>
                <a>Terms of Use</a>
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
      
</body>
