.customtext {
    width: 500px;
    height: 90px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white ;
    font-size: 16px;
    resize: none;
}

nav .navbar-nav li a{
    color: rgb(192, 0, 0) !important;
}
.darkred {
    color: rgb(191, 32, 37);
}
#userId {
    color: rgb(104, 173, 145) !important;
}

a.nav-link {
    margin-top: 40px !important;
    padding: 0px 10px !important;
}

.custom-index {
    width: 100%;
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-left: 0px;
    margin-right: 0px;
    max-width: 100%;
    max-height: 100%;
    background-color: rgb(191, 32, 37);
}
.bg-image {
    display:block;
    margin:auto;
}


.custom-container{
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    max-width: 100% !important;
    padding: 0px;
}


  #social-media {
      display: block;
      position: absolute;
      flex-direction: row;
      text-align: center;
      margin-top: 1%;
      width: 100%;
  }
  #social-media img {
      width: 50px;
      height: 50px;
      margin-left: 2%;
  }
  /*----------- Carousel ---------*/
.carousel-inner {
    height: 28rem;
}

.carousel-caption {
    bottom: 15rem;
    width: 23rem;
    height: 5rem;
    font-weight: 500;
    font-size: x-large;
    left: 6rem;
}

.section-two {
    margin:3rem;
}

.section-two .card {
    width: 18rem !important;
    height: 20rem;
    border: 0px;
    margin: 1rem;
}



.section-two .btn {
    background-color: white;
    color: rgb(191, 32, 37);
    border: 2px solid rgb(191, 32, 37);
}

.section-two h5 {
    text-decoration: underline;
}


.card img {
    border-radius: 0%;
}

  /* ----------- Footer --------*/

  footer {
       position: relative !important;
       background-color: rgb(36, 36, 36);
       width: 100%;
       height: 150px;
  }
  .custom-about a {
    font-size: medium;
    color: wheat;
    cursor: pointer;
    }

.custom-about a:hover {
    color: wheat;
    text-decoration: underline;
}    

.custom-about {
    top: 60%;
    position: relative;
    left: 30%;
}

.custom-about a {
    margin-left: 2%;
    margin-right: 2%;
}






  /*--------------Detail Page CSS---------*/
  
  .custom-card {
    width: 500px !important;
    height: 200px !important;
    display:block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center !important;
    margin-top: 20px; 
    text-align: left !important; 
  }

  .custom-card .card-body p {
      font-weight: 600;
  }

.carddata {
    font-weight: 400;
    color: rgb(126, 126, 126);
}


